:root {
    --green: #27ae60;
    --dark-color: green;
    --black: #444;
    --light-color: #666;
    --border: 0.1rem solid rgba(0, 0, 0, 0.1);
    --border-hover: 0.1rem solid var(--black);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --transition: 0.3s;
    --main-color: #2196f3;
    --background-hover-color: #ececec;
  }
  
  * {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    transition: width none;
  }
  
  html {
    font-size: 15px;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
    height: 100vh;
  }
  /* start header */
  .header .header-1{
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header .header-1 .logo{
    font-size: 30px;
    font-weight: bolder;
    color:var(--black);
    
  }
  
  .header .header-1 .logo i{
    color:var(--main-color);
  }
  
  /* end header */
  .books-containr {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
  }
  
  .books-containr .filter-left {

    margin: 20px 0 0 20px;

  }
  .books-containr .filter-left .filter {
    border-right: 2px solid black;
    height: 100vh;
  }
  .books-containr .filter-left .filter h2 {
    margin: 20px 0 40px;
    line-height: 1.6;
  }
  .books-containr .filter-left .filter .form {
    border: 2px solid black;
    line-height: 2;
    background-color: #ececec82;
    margin: 20px 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 30px 10px;
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .books-containr .filter-left .filter form label {
    font-size: 30px;
  }
  
  .books-containr .filter-left .filter form [type="search"] {
    border: 2px solid var(--main-color);
    height: 30px;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 5px 20px;
  }
  .books-containr .filter-left .filter form select {
    font-size: 20px;
    margin: 10px;
    color: var(--black);
  }
  .books-containr .filter-left .filter form [type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    /* border: 2px solid var(--main-color); */
    border-radius: 15px;
    background: var(--main-color);
    color: white;
    border: 2px solid var(--light-color);
    transition: var(--transition);
    cursor: pointer;
    margin-top: 20px;
  }
  .books-containr .filter-left .filter form [type="submit"]:hover {
    background-color: white;
    color: var(--main-color);
  }
  /* end filter */
  
  .books-containr .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding-top: 30px;
  }
  .books-containr .container .box {
    background-color: white;
    flex-basis: calc(25%);
    width: 100px;
    height: 300px;
    position: relative;
    margin-bottom: 5px;
    border: 3px solid #d3d2d2;
    transition: 0.3s;
    border-radius: 15px;
    transition: all 0.3s linear;
    transform: translateY(0);
    cursor: pointer;
  }
  
  .books-containr .container .box .raet {
    margin: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    left: 10%;
    top: 0%;
  }
  .books-containr .container .box .image img {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .books-containr .container .box .text h2 {
    margin: 15px 0 15px;
    font-size: 20px;
    transition: 0.3s;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    color: var(--black);
  }
  .books-containr .container .box .text h2 :hover {
    color: var(--light-color);
    text-decoration: underline;
  }
  
  .books-containr .container .box .text .pragraph {
    color: var(--light-color);
    font-weight: 500;
    transition: 0.3s;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 94%;
    transform: translate(-50%, -50%);
  }
  .books-containr .container .box .text .pragraph:hover {
    margin-top: -5px;
  
    text-decoration: underline;
  }
  
  .books-containr .container .box .raet i {
    color: yellow;
  }
  .books-containr .container .box:hover {
    border:4px solid var(--main-color) !important;
    color: var(--main-color) !important;
    transform: translateY(-10px) !important;
    box-shadow: 0 20px 25px -6px rgba(0, 0, 0, 0.1),
      0 10px 12px -6px rgba(0, 0, 0, 0.05) !important;
  }
  /* start media query */
  @media (max-width: 991px) {
    .books-containr .container .box {
      flex-basis: 45%;
      font-size: 14px;
    }
    .books-containr .container .box .image img {
      width: 100px;
    }
    .books-containr .container .box .text h2,
    .books-containr .container .box .text .pragraph {
      font-size: 15px;
    }
  }
  @media (max-width: 767px) {
    .books-containr .container .box {
      /* flex-basis: 70%; */
    }
    .books-containr .container .box .image img {
      width: 150px;
    }
    .books-containr {
      flex-direction: column;
    }
  }
  